html {
    scroll-behavior: smooth;
    background-color: $cream;
}

a {
    text-decoration: none;
    color:inherit;
    &:hover, &:focus, &:focus-within {
        color: $gold;
    }
}



/* CSS */
button {
    font-weight: 400;
    font-family: $primary-font;
    padding: 13px 20px 13px;
    outline: 0;
    margin-top:30px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0);
}

button:after {
    content: "";
    background-color: $gold;
    opacity: 50%;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
    z-index: -1;
}

button:hover:after{
    top: 0px;
    left: 0px;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
    width: 80%;
    margin:0 auto;
    margin-bottom:25px;
}



img {
    width: 100%;
}

.wrapper {
    max-width: 1260px;
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    button {
        padding: 13px 50px 13px;
    }
}