
.contact {
    // text-align: center;
    font-family: $primary-font;
        h1 {
            font-size: 4.5rem;
            text-align: center;
            color: white;
        }
        .contact-header {
            background-image: url('../images/contact-image.jpg');
            height:35vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
        }
        form {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            flex-direction: column;

        input {
            border-radius: 6px;
            padding: 15px;
            width: 70%;
            box-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
            border: none;
            margin: 15px 0;
            transition: all 200ms ease-in-out;
            outline: none;

            &:active,
            &:focus {
                outline: 2px solid $gold;
                transform: translate3d(0, -2px, 0);
                box-shadow: rgba(0, 0, 0, 0.3) 3px 12px 7px -5px;
            }
        }

        textarea {
            box-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
            border-radius: 6px;
            margin-top: 15px;
            width: 70%;
            padding: 10px;
            resize: none;
            border: none;
            transition: all 200ms ease-in-out;

            &:active,
            &:focus {
                transform: translate3d(0, -2px, 0);
                outline: 2px solid $gold;
                box-shadow: rgba(0, 0, 0, 0.3) 3px 12px 9px -5px;
            }
        }

        button {
            margin: 0 auto;
            margin-top: 50px;
            display: block;
        }
        
    }
}
p.form-submitted {
    text-align: center;
    margin: 0 auto;
    font-family: $primary-font;
    font-size: 2rem;
    color:$gold;
}


@media (max-width: 820px) {
    .contact {
        form {
            input {
                width: 90%;
            }
            textarea {
            
                width: 90%;
            }
        }
    }
}