footer {
    width: 100%;
    display: flex;
    background-color: $cream;
    padding:30px 0;
    flex-direction: column;
    text-align: center;
    p {
        margin: 0 auto;
        color: $gold;
        font-size: .8rem;
        font-family: $primary-font;
    }
}

@media (max-width: 768px) {
    footer { 
        p {
            font-size: .6rem;
        }
    }
}