.gallery {
    text-align: center;
    overflow: hidden;
    h1 {
        color:white;
        font-size: 4rem;
    }
    ul.images {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        padding:0;
        justify-content: space-around;
        li {
            width: 25%;
            // margin: 10px;
            list-style: none;
            padding:30px;
            position: relative;
            .fullscreen-image {
                margin: 0 auto;
                top: 0;
                margin-top: 100px;
                position: fixed;
                z-index: 100;
                left: 35%;
                max-height: 80vh;
                height:80vh;
            }
            .background-overlay {
                height:100vh;
                width:100vw;
                position: fixed;
                top:0;
                left:0;
                z-index: 99;
                background-color: rgba(0, 0, 0, 0.719);
            }
            .exit {
                font-size: 5rem;
                color:$cream;
                font-family: $primary-font;
                font-weight:400;
                position: absolute;
                top:0;
                z-index: 101;
                right:10%;
                &:hover, &:focus, &:focus-within {
                    font-weight: 600;
                    cursor: pointer;
                }
            }
            img {
                // width: 100%;
                height:100%;
            }
        }
    }
    .gallery-header {
        background-image: url('../images/gallery-image.jpg');
        height:35vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
}

@media (max-width: 1240px) {
    .gallery ul.images li {
        width: 80%;

        .fullscreen-image {
            // left: 0;
            max-height: 100%;
            position: absolute;
            height: 100vh;
            margin: 0 auto;
            width: auto;
            top: 0px;
            left: 22%;

        }

        .exit {
            top: 5%;
        }
    }
}


@media (max-width: 820px) {
    .gallery ul.images li {
        width: 80%;
        .fullscreen-image {
            // left: 0;
            max-height: 100%;
            position: absolute;
            height: auto;
            // margin: 0 auto;
            width: 80vw;
            top: 100px;
            left: 0;
            margin-left:10%;
            
            
        }
        .exit {
            top: 8%;
            right:14%;
            font-size:3rem;
        }
    }
}