.gallery {
    text-align: center;
    h1 {
        color:white;
        font-size: 4rem;
    }
    ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        padding:0;
        justify-content: center;
        li {
            width: 20%;margin: 10px;
            list-style: none;
            padding:10px;
        }
    }
    .gallery-header {
        background-image: url('../images/gallery-image.jpg');
        height:35vh;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .gallery ul li {
                width: 80%;
            
    }
}