.navBar {
    position: sticky;
    -webkit-position: sticky;
    top: 0;
    background-color: $cream;
    z-index: 40;
    display: block;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 27%;
        padding: 10px;
        margin-left: 10px;
    }

    ul {
        display: flex;
        padding:8px 20px;
        li {
            list-style: none;
            padding: 10px;
        }
    }
}   


@media (max-width: 768px) {
    nav {
        .logo {
            width:150px;
        }
    }
    
}
