
nav {
    display: flex;
    // border: 1px solid red;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 17%;
        padding:10px;
    }

    ul {
        display: flex;
        padding:10px;
        li {
            list-style: none;
            padding: 10px;
        }
    }
}   
