// Colours!
$gold: #B2A98B;
$soft-blue: #799DAC;
$forest-green: #80B5AA;
$cream: #FAF9F6;
$rose: #EACEBA;

// Fonts! 
$primary-font: 'Montserrat',
sans-serif;
$secondary-font: 'Cormorant Garamond',
serif;

// Font-sizes!
$header-text: 2.2rem;
$subheading-text: 1.2rem;
$paragraph-text: 1.35rem;

