@import "./partials/setup";
@import "./partials/variables";
@import "./partials/nav";
@import "./partials/baseStyles";
@import "./partials/typography";
@import "./partials/header";
@import "./partials/intro";
@import "./partials/slider";
@import "./partials/footer";
@import "./partials/gallery";
