html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #FAF9F6;
  z-index: 40;
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  width: 27%;
  padding: 10px;
  margin-left: 10px;
}
nav ul {
  display: flex;
  padding: 8px 20px;
}
nav ul li {
  list-style: none;
  padding: 10px;
}

@media (max-width: 768px) {
  nav .logo {
    width: 150px;
  }
}
html {
  scroll-behavior: smooth;
  background-color: #FAF9F6;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover, a:focus, a:focus-within {
  color: #B2A98B;
}

/* CSS */
button {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 13px 20px 13px;
  outline: 0;
  margin-top: 30px;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
}

button:after {
  content: "";
  background-color: #B2A98B;
  opacity: 50%;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  z-index: -1;
}

button:hover:after,
button:focus:after,
button:focus-within:after {
  top: 0px;
  left: 0px;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 25px;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  button {
    padding: 13px 50px 13px;
  }
}
h1, body {
  font-family: "Cormorant Garamond", serif;
}

h2, h3, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.2rem;
  font-weight: 200;
}

h2 {
  font-size: 1.2rem;
}

h1 {
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 0.9rem;
  }
}
.intro {
  background-color: #FAF9F6;
}
.intro .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}
.intro .wrapper .intro-text {
  width: 45%;
}
.intro .wrapper .intro-photo {
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
}
.intro .wrapper .intro-photo img {
  border-radius: 10px;
  display: block;
}

@media (max-width: 768px) {
  .intro .wrapper {
    flex-direction: column;
    padding: 0px;
  }
  .intro .wrapper .intro-text {
    width: 100%;
    text-align: center;
    margin: 40px 0;
  }
  .intro .wrapper .intro-photo {
    width: 80%;
    margin-bottom: 40px;
    margin-top: 10px;
  }
}
.contact {
  font-family: "Montserrat", sans-serif;
}
.contact h1 {
  font-size: 4.5rem;
  text-align: center;
  color: white;
}
.contact .contact-header {
  background-image: url("../images/contact-image.jpg");
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.contact form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}
.contact form input {
  border-radius: 6px;
  padding: 15px;
  width: 70%;
  box-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
  border: none;
  margin: 15px 0;
  transition: all 200ms ease-in-out;
  outline: none;
}
.contact form input:active, .contact form input:focus {
  outline: 2px solid #B2A98B;
  transform: translate3d(0, -2px, 0);
  box-shadow: rgba(0, 0, 0, 0.3) 3px 12px 7px -5px;
}
.contact form textarea {
  box-shadow: 0 1px 5px rgba(34, 25, 25, 0.4);
  border-radius: 6px;
  margin-top: 15px;
  width: 70%;
  padding: 10px;
  resize: none;
  border: none;
  transition: all 200ms ease-in-out;
}
.contact form textarea:active, .contact form textarea:focus {
  transform: translate3d(0, -2px, 0);
  outline: 2px solid #B2A98B;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 12px 9px -5px;
}
.contact form button {
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}

p.form-submitted {
  text-align: center;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #B2A98B;
}

@media (max-width: 820px) {
  .contact form input {
    width: 90%;
  }
  .contact form textarea {
    width: 90%;
  }
}
.slider {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.slider--content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.slider--content button.slider__btn-right, .slider--content button.slider__btn-left {
  background: transparent;
  border: none;
  outline: none;
  color: #eee;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: none;
  transition: transform 0.3s ease-in-out;
}
.slider--content button.slider__btn-right:after, .slider--content button.slider__btn-left:after {
  content: none;
}
.slider--content button.slider__btn-right:hover, .slider--content button.slider__btn-right:focus, .slider--content button.slider__btn-right:focus-within, .slider--content button.slider__btn-left:hover, .slider--content button.slider__btn-left:focus, .slider--content button.slider__btn-left:focus-within {
  box-shadow: none;
  color: #B2A98B;
  transform: scale(1.1);
}

.slider--feature {
  text-align: center;
}

.feature--title {
  color: #fff;
  text-transform: uppercase;
}

.feature--text {
  color: #fff;
  margin: 1rem 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation: fadeIn 0.1s;
          animation: fadeIn 0.1s;
}

footer {
  width: 100%;
  display: flex;
  background-color: #FAF9F6;
  padding: 30px;
  flex-direction: column;
  text-align: center;
}
footer p {
  margin: 0 auto;
  color: #B2A98B;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  footer p {
    font-size: 0.6rem;
  }
}
.gallery {
  text-align: center;
  overflow: hidden;
}
.gallery h1 {
  color: white;
  font-size: 4rem;
}
.gallery ul.images {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  justify-content: space-around;
}
.gallery ul.images li {
  width: 25%;
  list-style: none;
  padding: 30px;
  position: relative;
}
.gallery ul.images li .fullscreen-image {
  margin: 0 auto;
  top: 0;
  margin-top: 100px;
  position: fixed;
  z-index: 100;
  left: 35%;
  max-height: 80vh;
  height: 80vh;
}
.gallery ul.images li .background-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.719);
}
.gallery ul.images li .exit {
  font-size: 5rem;
  color: #FAF9F6;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 0;
  z-index: 101;
  right: 10%;
}
.gallery ul.images li .exit:hover, .gallery ul.images li .exit:focus, .gallery ul.images li .exit:focus-within {
  font-weight: 600;
  cursor: pointer;
}
.gallery ul.images li img {
  height: 100%;
}
.gallery .gallery-header {
  background-image: url("../images/gallery-image.jpg");
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 1240px) {
  .gallery ul.images li {
    width: 80%;
  }
  .gallery ul.images li .fullscreen-image {
    max-height: 100%;
    position: absolute;
    height: 100vh;
    margin: 0 auto;
    width: auto;
    top: 0px;
    left: 22%;
  }
  .gallery ul.images li .exit {
    top: 5%;
  }
}
@media (max-width: 820px) {
  .gallery ul.images li {
    width: 80%;
  }
  .gallery ul.images li .fullscreen-image {
    max-height: 100%;
    position: absolute;
    height: auto;
    width: 80vw;
    top: 100px;
    left: 0;
    margin-left: 10%;
  }
  .gallery ul.images li .exit {
    top: 8%;
    right: 14%;
    font-size: 3rem;
  }
}